PORT=8000
SECRET_KEY=5e04b4d0ef3eed173bc99de7e25913d218cb24207227947254151535de8a14af
NEXT_PUBLIC_API_URL=http://localhost:8000
DATABASE_URL=postgresql+psycopg://username:password@localhost:5432/db_name
GEMINI_API_KEY=your-actual-gemini-api-key

# REDIS_URL=rediss://default:password@xyz.upstash.io:6379